<nav class="navbar navbar-expand-md navbar-secondary sticky-top bg-secondary">
  <div class="container my-3">
    <a class="navbar-brand text-light" [routerLink]="routes.home">
      <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="logo">
      Raffler
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars text-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"
          *ngFor="let nav of navItems">
          <a class="nav-link text-light" [routerLink]="nav.url">{{nav.data.title}}</a>
        </li>
        <li class="ml-5"></li>
        <ng-container *ngIf="!loggedIn">

          <li class="nav-item mr-3 text-light">
            <a class="nav-link pointer"><span (click)="openAuth('login')" angulartics2On="click"
                angularticsAction="Login" angularticsLabel="LoginButton" [angularticsCategory]="'MenuBar'">
                Login</span></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light pointer"><span (click)="openAuth('signup')" angulartics2On="click"
                angularticsAction="SignUp" angularticsLabel="SignUpButton" [angularticsCategory]="'MenuBar'">Sign
                up</span></a>
          </li>
        </ng-container>

        <ng-container *ngIf="loggedIn && isAdmin">
          <li class="nav-item mr-2">
            <a class="nav-link text-light pointer"><span (click)="gotoPage(routes.admin)">Admin</span></a>
          </li>
        </ng-container>

      </ul>

      <div *ngIf="loggedIn && currentUser?.contact" class="form-inline" ngbDropdown>
        <div class="profile" [imageLoader]="currentUser.contact.picture" ngbDropdownToggle></div>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="openProfile()" angulartics2On="click" angularticsAction="VisitProfile"
            angularticsLabel="ProfileButton" [angularticsCategory]="'ProfilePage'">Profile</button>
          <button ngbDropdownItem (click)="openInvitations()" angulartics2On="click" angularticsAction="VisitInvites"
            angularticsLabel="InviteButton" [angularticsCategory]="'InvitePage'">Invitations</button>
          <button ngbDropdownItem (click)="logout()" angulartics2On="click" angularticsAction="LogOut"
            angularticsLabel="LogOutButton" [angularticsCategory]="'HomePage'">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>
