<div class="row">
  <div class="col col-sm-4">
    <div ngbDropdown>
      <button class="full btn btn-sm btn-outline-secondary sort" ngbDropdownToggle>{{sortItem?.text || 'Sort'}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem *ngFor="let item of sort" (click)="sortItem = item">{{item.text}}</button>
      </div>
    </div>
  </div>

  <div class="col col-sm-4">
    <div ngbDropdown>
      <button class="full mr-5 btn btn-sm btn-outline-secondary filter"
        ngbDropdownToggle>{{key?.toUpperCase() || 'Filter'}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button ngbDropdownItem *ngFor="let item of keys" (click)="key = item">{{item}}</button>
      </div>
    </div>
  </div>
  <div class="col col-sm-4">
    <button class="full btn btn-sm btn-primary go" (click)="submit(key, sortItem.value)"> Go</button>
  </div>
</div>
