<div class="bg gradient-bg">
  <h2>Why buy it, when you can #winit</h2>
  <p>Join thousands of players winning cash, cars, tech & holidays daily.</p>
  <ngb-carousel *ngIf="raffles && raffles.length > 0">
    <ng-template ngbSlide *ngFor="let item of raffles | orderBy: '-createdAt'">
      <div class="featured-product">
        <div class="image" [imageLoader]="item.product.images[0]" (click)="gotoPage(routes.live + '/' + item.id)" angulartics2On="click" angularticsAction="ViewRaffle" angularticsLabel="FeaturedImage" [angularticsCategory]="'FeaturedSlider'"></div>
        <div class="detail">
          <h3 class="mt-2 mb-1" (click)="gotoPage(routes.live + '/' + item.id)" angulartics2On="click" angularticsAction="ViewRaffle" angularticsLabel="FeaturedTitle" [angularticsCategory]="'FeaturedSlider'">{{item.name}}</h3>

          <span class="my-1 price">
            <h5 class="text-lg text-light">{{item.price | ccurrency}}</h5>
            <div class="mr-4"></div>
            <div class="text-lg text-light no-good">{{item.retailPrice | ccurrency}}</div>
          </span>

          <small
            class="my-2">{{(item.product.description | slice: 0: 100) + '...' || 'No Description for this raffle'}}</small>
          <hr class="my-1">
          <h6 class="mb-2">Raffle ends {{item.endDate | amTimeAgo}}</h6>

          <span class="btn btn-primary mt-2" (click)="gotoPage(routes.live + '/' + item.id)" angulartics2On="click" angularticsAction="ViewRaffle" angularticsLabel="PlayNowButton" [angularticsCategory]="'FeaturedSlider'">Play Now</span>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container-fluid bg-white">
    <div class="container">
      <div class="winners my-5">
        <app-latest-winners></app-latest-winners>
      </div>

      <div class="home-ads-content my-5">
        <app-info-cards></app-info-cards>
      </div>

      <div class="how-to-play my-5">
        <app-how-it-works></app-how-it-works>
      </div>

      <div class="chart my-3">
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>
