<div class="wrapper m-4 p-2">
  <h4 class="mb-3">Pague agora para garantir os números</h4>

  <div class="item-details mt-4 p-4 text-secondary card">
    <h6>
      Você escolheu <b>{{entries.length}}</b> números neste sorteio.
      <br> Seu total é <b> {{amount | ccurrency}}</b>
    </h6>

    <div class="discount text-danger" *ngIf="hasInviteDiscount">
      <hr>
      <ng-container *ngIf="!discountClaimed">
        <h6>Você tem um desconto de R$ 5, deseja reivindicá-lo?</h6>
        <button type="button" (click)="claimDiscount()" class="btn btn-secondary mr-4" [btnStatus]="loading" angulartics2On="click" angularticsAction="ClaimDiscount" angularticsLabel="DiscountButton" [angularticsCategory]="'ClaimDiscountSection'">
          Reivindicar desconto
        </button>
      </ng-container>
      <ng-container *ngIf="discountClaimed">
        <h6 class="text-danger">Você reivindicou seu desconto!</h6>
      </ng-container>


    </div>
  </div>

  <app-progress-bar class="mt-1 mb-1" [value]="(progress/180000) * 100">
  </app-progress-bar>

  <div class="stripe-image my-3">
    <img src="./assets/images/stripe.png" alt="">
  </div>


  <form (ngSubmit)="buy()" #form="ngForm">
    <form-field label="Nome">
      <input inputRef [(ngModel)]="name" name="name" placeholder="Jane Doe">
    </form-field>

    <div class="card-wrapper mt-3 mb-5">
      <label>Digite os detalhes do cartão</label>
      <div id="card-element"></div>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-secondary mr-4" [btnStatus]="loading" angulartics2On="click" angularticsAction="RafflePay" angularticsLabel="RafflePayButton" [angularticsCategory]="'RafflePayPopUp'">
        Pagar
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="closeModal()" angulartics2On="click" angularticsAction="RaffleCancel" angularticsLabel="RaffleCancelButton" [angularticsCategory]="'RafflePayPopUp'">
        Cancelar
      </button>
    </div>
  </form>
</div>



<!-- <label>Enter Address details</label>
    <form-field>
      <input inputRef [(ngModel)]="address.addressLine1" name="name" placeholder="Address line 1">
    </form-field>
    <form-field>
      <input inputRef [(ngModel)]="address.addressLine2" name="name" placeholder="Address line 2">
    </form-field>
    <form-field>
      <input inputRef [(ngModel)]="address.city" name="name" placeholder="City">
    </form-field>
    <form-field>
      <input inputRef [(ngModel)]="address.postCode" name="name" placeholder="Post Code">
    </form-field> -->
