@import '../../../../../styles.scss';

:host {
  margin-bottom: 20px;
  display: block;

  .card {
    .card-img-top {
      height: 180px;
      background-color: map-get($theme-colors, gray);
    }

    .card-body {
      text-align: center;

      .price {
        display: flex;
      }

      .no-good {
        text-decoration: line-through;
      }
    }
  }
}
