<div class="container">
  <div class="flex-area">
    <img src="/assets/images/raffler-logo-small-small.png" alt="">
    <h1>Riffas Brasil</h1>
    <p>Inscreva-se agora para R$ 5 de desconto</p>
    <button class="btn btn-primary" (click)="openAuth('signup-only')" angulartics2On="click" angularticsAction="SignUp"
      angularticsLabel="SignUpButton" [angularticsCategory]="'HoldingPage'">Cadastre-se</button>
  </div>
  <div class="footer">
    <a class="pointer" (click)="openAuth('login-admin')">Admin </a>
  </div>
</div>
