<div class="container my-4" *ngIf="raffle">
  <div class="row">
    <div class="col-sm-6">
      <div class="image-wrapper">
        <div class="images">
          <div class="img" [ngClass]="{'active': selectionIndex === i}" [imageLoader]="item"
            *ngFor="let item of raffle?.product?.images; let i = index" (click)="selectionIndex = i"></div>
        </div>
        <div class="mainImage">
          <img [src]="raffle?.product?.images[selectionIndex]" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h3 class="my-3">{{raffle?.name}}</h3>

      <small class="text-sm"
        innerHTML="{{(raffle?.product?.description | markdown) || 'No Description for this raffle'}}"></small>

      <div class="more-detail">
        <hr>
        <span class="my-3 price">
          <h5 class="text-lg text-secondary">{{raffle.price | ccurrency}}</h5>
          <div class="mr-4"></div>
          <div class="text-lg text-danger no-good">{{raffle.retailPrice | ccurrency}}</div>
        </span>

        <h6 class="my-2" *ngIf="!isEnded">
          {{deadline?.days || 'dias' }}
          {{deadline?.days ? 'dias': ''}}
          {{deadline?.hours || '' }}
          {{deadline?.hours ? 'hrs': ''}}
          {{deadline?.minutes || '' }} mins
          {{deadline?.seconds || '' }} segundos restantes</h6>

        <!-- <small class="mb-4">{{entriesLeft}} raffle entires left</small> -->
        <app-progress-bar class="mt-1 mb-1" text="{{entriesLeft}} raffle entries left" [value]="entriesLeft">
        </app-progress-bar>


        <span class="my-3 price">
          <button class="btn btn-primary" [disabled]="isEnded" (click)="scrollTo('play-raffle')" angulartics2On="click" angularticsAction="PickNumbers" angularticsLabel="PlayNowButton" [angularticsCategory]="'RaffleItemPage'">Jogue agora</button>
          <div class="mr-4"></div>
          <button class="btn btn-primary" [disabled]="isEnded" [ngbPopover]="popContent" [popoverTitle]="popTitle"
            [autoClose]="'outside'" #popover="ngbPopover" angulartics2On="click" angularticsAction="PickNumbers" angularticsLabel="LuckyDipButton" [angularticsCategory]="'RaffleItemPage'">
            Seleção aleatória
          </button>
        </span>
      </div>
    </div>
  </div>

  <div id="play-raffle" class="pt-3 my-5" *ngIf="!isEnded">
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <app-draw-picker *ngIf="entries" [entries]="entries" [max]="raffle.maxOptions"
          [maxSelection]="raffle.maxUserSelection" [userSelection]="userEntries" (emitEntries)="userEntries = $event">
        </app-draw-picker>
      </div>
      <div class="col-md-4 col-lg-4">
        <!-- TrustBox widget - Micro Review Count -->
        <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad"
          data-businessunit-id="5d0784964b7e5500018c5188" data-style-height="24px" data-style-width="100%"
          data-theme="light"> </div> <!-- End TrustBox widget -->
        <div class="tutorial">
          <h4 class="mb-3">Como jogar</h4>
          <ul>
            <li>Você pode selecionar até <b>{{raffle.maxUserSelection}}números</b> dessa rifa</li>
            <li>Os números que já foram utilizados aparecerão como <span class="text-secondary p-1 prev-selected">18</span>
            </li>
            <li>Os números digitados anteriormente aparecerão como <span
                class="bg-danger text-light p-1 prev-user-selected">23</span>
            </li>
            <li>Seus números atualmente selecionados aparecerão como<span
                class="bg-secondary text-light p-1 current-user-selected">23</span>
            </li>
            <li>selecionados<span class="btn-sm btn btn-primary">Confirme e pague!</span> botão para pagar pelo seu número selecionado
              números e digite o sorteio</li>
            <li>Boa sorte!</li>
          </ul>
        </div>
      </div>
    </div>

    <button class="btn btn-lg mt-2 ml-auto btn-primary" [disabled]="!hasNewEntries" (click)="verifyPay()" angulartics2On="click" angularticsAction="VerifyPay" angularticsLabel="VerifyPayButton" [angularticsCategory]="'RaffleItemPage'">Confirme e pague! <i class="fa fa-shopping-cart"></i></button>
  </div>

  <div class="item-tabs">
    <ngb-tabset>
      <ngb-tab title="Descrição">
        <ng-template ngbTabContent>
          <p class="p-4" innerHTML="{{(raffle.description | markdown) || 'Nenhuma descrição definida para este produto'}}"></p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Termos">
        <ng-template ngbTabContent>
          <p class="p-4" innerHTML="{{(raffle.terms | markdown) || 'Nenhum termo definido para este sorteio'}}">
          </p>

        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>


<ng-template #popContent>
  <p>Escolha quantos números de mergulho de sorte você deseja. Este sorteio tem no máximo<span class="badge badge-success">
      {{raffle.maxUserSelection}}</span> seleção</p>
  <form-field suffix="true" size="lg">
    <input type="number" inputRef min="0" [max]="raffle.maxUserSelection" [(ngModel)]="luckyDipSelection">
    <button suffix class="btn btn-sm" (click)="doLuckyDip()" angulartics2On="click" angularticsAction="GetLuckyDipNumbers" angularticsLabel="LuckyDipGoButton" [angularticsCategory]="'RaffleItemLuckyDip'">Go</button>
  </form-field>
  <hr>
  <div class="d-block">
    <div class="badge badge-primary badge-lg mx-2 p-1 txt-lg" *ngFor="let item of userEntries">{{item}}</div>
  </div>

  <button *ngIf="userEntries" class="btn mt-3 ml-auto btn-primary" [disabled]="!hasNewEntries"
    (click)="verifyPay()" angulartics2On="click" angularticsAction="VerifyPay" angularticsLabel="VerifyPayButton" [angularticsCategory]="'RaffleItemLuckyDip'">Verify and
    Pay! <i class="fa fa-shopping-cart"></i></button>
</ng-template>
<ng-template #popTitle>Seleção aleatória</ng-template>
