<!-- TrustBox widget - Micro Review Count -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad"
  data-businessunit-id="5d0784964b7e5500018c5188" data-style-height="24px" data-style-width="100%" data-theme="light">
</div>
<span>

</span>
<!-- <h3 class="text-dark mb-2">Winners</h3>
<div class="row" *ngIf="winners && winners.length > 0">
  <div class="col col-sm-12 col-md-3" *ngFor="let item of winners">
    <app-winner-card [winner]="item"></app-winner-card>
  </div>
</div> -->

<!-- <div class="jumbotron" *ngIf="winners && winners.length < 1"> -->
<!-- <h1 class="display-4 text-secondary">No Winners</h1> -->
<!--  <p class="lead text-dark">No winners to display</p>
</div> 
 -->
