<div class="footer-links">
  <ul>
    <li>Built by <a href="http://ezyapps.co.uk/" target="_blank"> ezyapps.co.uk</a></li>
    <li><a href="#"> About Us</a></li>
    <li><a href="mailto:help@cueapps.on.spiceworks.com"> Contact Us</a></li>
    <li><a href="#"> T&Cs</a></li>
    <li><a href="#"> Privacy Policy</a></li>
    <li><a href="#" target="_blank"> Facebook</a></li>
    <li><a href="#" target="_blank"> Twitter</a></li>
    <li><a href="#" target="_blank"> Instagram</a></li>
  </ul>
</div>
<p class="address">Raffler © Registered Address: Raffler Ltd, 101 Great London Road, London, E1 8HU</p>
